
@import url(https://fonts.googleapis.com/css?family=Khula:700);

/* ########## CSS VARIABLES ########## */
:root {
    --yellow: #ffc600;
    --yellow-transparent: rgb(255, 198, 0, 0.8);
    --black: #272727;
    --black-trasparent: rgb(39, 39, 39, 0.9);
    --cool-grey: #95A3A6;
}


/* ########## PAGE STYLE ########## */
*,*:before,*:after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Khula', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* font-family: 'Amatic SC', 'Raleway'; */
    list-style: none;
}


/* ########## PAGE BACKGROUND ########## */
body {
    background-image: url(brickWall2.jpg);
    background-position: top right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/* ########## NAVBAR STYLE ########## */
.naviBar {
      display: flex;
      align-items: flex-end;
      padding: 12px;
      background-color: var(--black);
      position: sticky;
      top: 0;
      z-index: 1;
}

      .navLinks {
            display: flex;
            margin-left: auto;
      }

      .apps ul {
            display: none;
            /* position: relative; */
      }

      .apps:hover ul {
            /* list-style: none; */
            text-decoration: underline var(--yellow);
            margin: 0px;
            display: block;
            /* margin-right: 100px; */
            position: absolute;
            width: max-content;
            transform: translate(-70%);
            max-height:100vh;
            overflow:scroll;      
      }

            .apps ul li {
                  padding: 7px;
                  background-color: var(--black-trasparent);   
            }

      .navLink {
            color: var(--cool-grey);
            opacity: 86%;
            margin-left: 1em;
            margin-right: 1em;
            font-size: 1.1rem;
            text-decoration: none;
      }

            .navLink:hover {
                  color: var(--yellow);
                  opacity: 100%;
                  text-decoration: underline var(--yellow);
            }

      .home {
            font-size: 1.6rem;
      }

            .home > span {
                  color: var(--yellow);
            }

      .active {
            color: var(--yellow);
            text-decoration: underline var(--yellow);
      }


/* ########## BURGER STYLE ########## */
.burger {
      /* display: inline-block; */
      display: none;
      cursor: pointer;
      margin-right: 25px;
    }
    
    .slice1, .slice2, .slice3 {
      width: 35px;
      height: 5px;
      background-color: var(--cool-grey);
      margin: 6px 0;
      transition: 0.4s;
    }
    
    /* Rotate first bar */
    .change .slice1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
      transform: rotate(-45deg) translate(-9px, 6px) ;
      background-color: red;
    }
    
    /* Fade out the second bar */
    .change .slice2 {
      opacity: 0;
    }
    
    /* Rotate last bar */
    .change .slice3 {
      -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
      transform: rotate(45deg) translate(-8px, -8px) ;
      background-color: red;
    }


/* ##### MEDIA QUERIES ##### */
@media only screen and (max-width: 768px) {
      .naviBar {
            display: flex;
            flex-wrap: wrap;
      }
      
      .logo {
            display: flex;
            width: 100vw;
      }
      
      .burger {
            /* display: block; */
            /* display: flex;
            flex-direction: column; */
            display: inline-block;
            margin-left: auto;
      }
      
      .navLinks {
            display: none;
      }

      .navLinksShow {
            display: flex;
            flex-direction: column;
            margin: auto;
            align-items: center;
            padding: 1px;
      }

      .apps ul {
            /* display: flex; */
            /* flex-direction: column; */
            list-style: none;
            text-decoration: none;
            opacity: 70%;
            border: .5px solid var(--yellow);
      }

            .apps > a:first-child {
                  /* display: flex; */
                  /* justify-content: center; */
                  margin: auto;
            }

            .apps:hover ul {
                  position: absolute;
                  transform: translate(-35%);
                  opacity: 100%;
                  max-height:100vh;
                  overflow-y:scroll;  
                  padding: 0px;    
            }
}




