
/*###### START OF FANCY TITLE ######*/
/* @import url(https://fonts.googleapis.com/css?family=Khula:700); */
/* body {
  background: #111;
} */
/* .hidden {
  opacity:0;
} */
.console-container {
  font-size:4em;
  /* text-align:center; */
  height:200px;
  width:600px;
  /* display:block;
  position:absolute; */
  color:white;
  /* top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto; */
}

.console-underscore {
  display:inline-block;
  /* position:relative; */
  /* top:-0.14em; */
  /* left:10px; */
}
/*###### END OF FANCY TITLE ######*/


/*###### HEADER SETTINGS START ######*/
.name {
    display: grid;
    grid-template-rows: 100vh;
    align-items: center;
    justify-items: center;
    background-color: var(--black);
}
/*###### HEADER SETTINGS END ######*/


/*###### MENU BAR SETTINGS START ######*/
/* .navBar {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    justify-content: center;
    align-items: center;
    position: sticky;
    z-index:1;
    top: 0;
    background-color: var(--black);
} */
/*###### MENU BAR SETTINGS END ######*/


/*###### CONTENT SETTINGS START ######*/
.content {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); */
  grid-template-columns: repeat(2, minmax(300px, 600px));
  justify-content: center;
  grid-gap: 4rem;
  padding: 20px;
}
/*###### CONTENT SETTINGS END ######*/


/*###### CARDS SETTINGS START ######*/
.card {
  background: var(--black-trasparent);
  /* color: var(--yellow-transparent); */
  color: #959494;
  border-radius: 15px;
  padding: 10px;
  opacity: 0.9; 
  border-bottom: 2px solid var(--black-trasparent);
  border-right: 2px solid var(--black-trasparent);
}

.card:hover{
  border-bottom: 2px solid var(--yellow);
  border-right: 2px solid var(--yellow);
  opacity: 1;
  color: var(--yellow-transparent);
}
/*###### CARDS SETTINGS END ######*/



/*###### ELEMENTS SETTINGS START ######*/
* > h2 {
  text-decoration: underline;
  color: var(--yellow-transparent);
}


/* .linx {
    color: var(--yellow-transparent);
    color: #959494;
    text-decoration: none;
    justify-self: center;
    margin: 10px;
    border-bottom: 2px solid transparent;
}
.linx:hover {
    color: var(--yellow);
    border-bottom: 2px solid var(--yellow);
} */
/*###### ELEMENTS SETTINGS END ######*/



/*###### RESPONSIVE SETTINGS START ######*/
@media (max-width: 1024px) {

  .console-container {
    height:max-content;
    width:85vw;
  }

  .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
/*###### RESPONSIVE SETTINGS END ######*/