@import url(https://fonts.googleapis.com/css?family=Khula:700);


*,*:before,*:after{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Khula', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
    --yellow: #ffc600;
    --yellow-transparent: rgb(255, 198, 0, 0.8);
    --black: #272727;
    --black-trasparent: rgb(39, 39, 39, 0.9);
  }


/* START OF FANCY TITLE */
/* @import url(https://fonts.googleapis.com/css?family=Khula:700); */
/* body {
  background: #111;
} */
/* .hidden {
  opacity:0;
} */
.console-container {
  font-family:Khula;
  font-size:4em;
  text-align:center;
  height:200px;
  width:600px;
  display:block;
  position:absolute;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}

.console-underscore {
  display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}
/* END OF FANCY TITLE */



/*###### START OF GRID CONTAINER ######*/
.container {
    display: grid;
    grid-template-rows: 100vh auto auto auto;
    background-image: url(brickWall2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/*###### END OF GRID CONTAINER ######*/



/*###### START OF NAME SECTION ######*/
.name {
    display: grid;
    align-items: center;
    justify-items: center;
    color: var(--yellow);
    background-color: var(--black);
}
/*###### END OF NAME SECTION ######*/



/*###### START OF RESUMEe SECTION ######*/
.resume {
  display: grid;
  justify-items: center;
  margin: 3rem;
}
/*###### END OF RESUMEe SECTION ######*/



/*###### START OF CONTENT SECTION ######*/
.content {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); */
    grid-template-columns: repeat(2, minmax(300px, 600px));
    justify-content: center;
    grid-gap: 4rem;
    padding: 20px;
    /* grid-auto-rows: auto; */
}
/*###### END OF CONTENT SECTION ######*/



/*###### START OF CONTACT SECTION ######*/
.contact {
    display: grid;
    justify-content: center;
    align-items: center;

    grid-template-columns: repeat(3, 100px);
    grid-gap: 3em;
    padding: 20px;
    color: var(--yellow);
    background-color: var(--black);
}
/*###### END OF CONTACT SECTION ######*/



/*###### START OF CARDS SECTION ######*/
.card {
  background: var(--black-trasparent);
  color: darkkhaki;
  border-radius: 3%;
  padding: 10px;
  opacity: 0.9; 
  /* width: 550px; */

  
  border-bottom: 2px solid var(--black-trasparent);
  border-right: 2px solid var(--black-trasparent);
}

.card:hover{
  opacity: 1;
  border-bottom: 2px solid var(--yellow);
  border-right: 2px solid var(--yellow);
}
/*###### END OF CARDS SECTION ######*/



/*###### START OF ITEM SETTINGS ######*/
* > h2 {
  text-decoration: underline;
}


.linx {
    color: var(--yellow-transparent);
    text-decoration: none;
    margin: 10px;
    border-bottom: 2px solid var(--black-trasparent);
    justify-self: center;
}
.linx:hover {
    color: var(--yellow);
    border-bottom: 2px solid var(--yellow);
}
/*###### END OF ITEM SETTINGS ######*/



/*###### START OF RESPONSIVE SETTINGS ######*/
@media (max-width: 1000px) {

  .console-container {
    height:max-content;
    width:auto;
  }

  .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .contact {
    display: grid;
    justify-content: center;
    align-items: center;
    /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
  }
}
/*###### END OF RESPONSIVE SETTINGS ######*/