
.list {
  width: 50vw;
  margin: auto;
  padding: 3rem;
  margin-top: 2.5rem;
  border-radius: 30px;
  color: var(--yellow);
  background-color: var(--black);
}

.done {
  text-decoration: line-through;
  opacity: 0.5;
}

.trash {
  color: red;
}

h1 {
  font-family: 'Bowlby One SC', cursive;
  letter-spacing: 0.4rem;
  font-size: 2.5rem;
}

* {
  text-align: center;
}

ul {
  margin-top: 1rem;
}

li {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  padding: 5px;
  font-family: 'Architects Daughter', cursive;
  letter-spacing: .1rem;
  font-size: 1.4em;
}

li:nth-child(odd) {
  background-color: #030202;
}

li:hover {
  font-weight: bold;
}

.inputBox {
  background-color: var(--yellow);
  border-radius: 20px;
  opacity: 0.5;
  border: none;
}

#enter {
  background-color: var(--yellow);
  border-radius: 20px;
  margin-left: 10px;
  opacity: 0.8;
  border: none;
  font-family: 'Architects Daughter', cursive;
  letter-spacing: 0.2rem;
  font-size: 1.1em;
}

#enter:hover {
  opacity: 2;
}

@media (max-width: 1000px) {
  .list {
    width: 90vw;
  }
}